<template>
  <div class="greetings">
    <h1>
      ¡Bienvenido <span> {{ username }} </span>!
    </h1>
  </div>
  <div>
    <tbody>
      <tr v-for="(item, index) in reports" :key="index">
        <td>{{ item.quantity }}   </td>
        <td>{{ item.location }}   </td>
        <td>{{ item.health_state }}   </td>
        <td>{{ item.comments }}</td>
      </tr>
    </tbody>
  </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

const BASE_URL = "https://grupo5-be.herokuapp.com/";

export default {
  name: "Home",
  data: function () {
    return {
      username: localStorage.getItem("username") || "none",
      reports: [],
      loaded: false,
    };
  },
  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(`${BASE_URL}sighting/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.reports = result.data;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    verifyToken: function () {
      return axios
        .post(
          `${BASE_URL}refresh/`,
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
.greetings {
  margin: 0;
  padding: 5%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: left;
}
.greetings h1 {
  font-size: 20px;
  color: #4d7c41;
}
.greetings span {
  color: #2e4769;
  font-weight: bold;
}
</style>