<template>
  <div class="greetings">
    <h1>
      <span> Organizaciones </span>
    </h1>
  </div>
  <div>
    <tbody>
      <tr v-for="(item, index) in organization" :key="index">
        <td>{{ item.name }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.telephone }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.url }}</td>
        <td>{{ item.description }}</td>
        <button v-on:click="loadDeleteOrganization(item.id)">Eliminar</button> -->
      </tr>
    </tbody>
  </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

const BASE_URL = "https://grupo5-be.herokuapp.com/";

export default {
  name: "Organizations",
  data: function () {
    return {
      organization: [],
      loaded: false,
    };
  },
  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();

      let token = localStorage.getItem("token_access");

      axios
        .get(`${BASE_URL}getOrganizations/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.organization = result.data;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    loadDeleteOrganization: function (organizationId) {
     
      let token = localStorage.getItem("token_access");

    axios
        .delete(`${BASE_URL}deleteOrganization/${organizationId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          alert("Organizacion eliminada");
          

          this.getData();
        })
        .catch((error) => {
          console.log(error);

          alert("ERROR: Fallo en el registro.");
        });


    },

    verifyToken: function () {
      return axios
        .post(
          `${BASE_URL}refresh/`,
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
.greetings {
  margin: 0;
  padding: 5%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: left;
}
.greetings h1 {
  font-size: 20px;
  color: #4d7c41;
}
.greetings span {
  color: #2e4769;
  font-weight: bold;
}
</style>