<template>
  <div class="greetings">
    <h1>
      <span> Especies </span>
    </h1>
  </div>
  <div>
    <tbody>
      <tr v-for="(item, index) in species" :key="index">
        <td>{{ item.common_name}}</td> 
        <td>{{ item.formal_name }}</td>
        <td>{{ item.family }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.photo }}</td>
        <button v-on:click="loadUpdateSpecies(item.id)" >Actualizar</button>
      </tr>
    </tbody>
  </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

const BASE_URL = "https://grupo5-be.herokuapp.com/";

export default {
  name: "species",
  data: function () {
    return {
      species: [],
      loaded: false,
    };
  },
  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();

      let token = localStorage.getItem("token_access");

      axios
        .get(`${BASE_URL}getSpecies/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.species = result.data;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    loadUpdateSpecies: function(specieId){
       localStorage.setItem("specieId",specieId)

    this.$emit("loadSpecieUpdate")

    },


    verifyToken: function () {
      return axios
        .post(
          `${BASE_URL}refresh/`,
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
.greetings {
  margin: 0;
  padding: 5%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: left;
}
.greetings h1 {
  font-size: 20px;
  color: #4d7c41;
}
.greetings span {
  color: #2e4769;
  font-weight: bold;
}
</style>