<template>
  <div class="signUp_user">
    <div class="container_signUp_user">
      <h2>Actualizar Especie</h2>
      <form v-on:submit.prevent="processSignUp">
        <input
          type="text"
          v-model="user.common_name"
          placeholder="Nombre comun"
        />
        <br />
        <input
          type="text"
          v-model="user.formal_name"
          placeholder="Nombre cientifico"
        />
        <br />
        <input type="text" v-model="user.family" placeholder="Familia" />
        <br />
        <input
          type="text"
          v-model="user.description"
          placeholder="Detalle de la especie"
        />
        <br />
        <input
          type="text"
          v-model="user.photo"
          placeholder="Url de la imagen"
        />
        <br />
        <button type="submit">Actualizar</button>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
const BASE_URL = "https://grupo5-be.herokuapp.com/";
export default {
  name: "SignUp",
  data: function () {
    return {
      user: {
        common_name: "",
        formal_name: "",
        family: "",
        description: "",
        photo: "",
      },
    };
  },
  methods: {
    processSignUp: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let species = localStorage.getItem("specieId");
      this.user.isBiologist=1;  

      axios
        .put(`${BASE_URL}updateSpecies/${species}/`, this.user, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          alert("Especie actualizada");
          

          this.$emit("species",);
        })
        .catch((error) => {
          console.log(error);

          alert("ERROR: Fallo en el registro.");
        });
    },
    verifyToken: function () {
      return axios
        .post(
          `${BASE_URL}refresh/`,
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
};
</script>
<style>
.signUp_user {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_signUp_user {
  border: 3px solid #4d7c41;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp_user h2 {
  color: #4d7c41;
}
.signUp_user form {
  width: 70%;
}

.signUp_user input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #4d7c41;
}
.signUp_user button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #4d7c41;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}
.signUp_user button:hover {
  color: #e5e7e9;
  background: #2e4769;
  border: 1px solid #4d7c41;
}
</style>